// 顏色變量
$primary: rgba(41, 59, 41, 0.8);
$secondary: rgba(52, 55, 59, 0.8);
$success: #AAD9F1;
$info: #b1ff00;

.wrapper {
  width: 262.5px; // 调整后的宽度
  height: 262.5px; // 调整后的高度
  background-color: $secondary;
  border-radius: 54px; // 调整后的边角半径
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7.5px; // 调整后的内边距
}

.clock {
  width: 225px; // 调整后的宽度
  height: 225px; // 调整后的高度
  background-color: $primary;
  border-radius: 100%;
  border: 2.25px solid #212f0b; // 调整后的边框
  box-sizing: border-box;
  position: relative;

  &-hour {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 6px; // 调整后的宽度
    height: 54px; // 调整后的高度
    border-radius: 3px 3px 0 0; // 调整后的边角半径
    transform: translateX(-50%);
    transform-origin: top left;
    background-color: #fff;

    &::before {
      content: "";
      position: absolute;
      left: 2.25px; // 调整后的位置
      bottom: 3.75px; // 调整后的位置
      width: 1.5px; // 调整后的宽度
      height: 18.75px; // 调整后的高度
      background-color: $primary;
    }
  }

  &-minute {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 6px; // 调整后的宽度
    height: 67.5px; // 调整后的高度
    border-radius: 3px; // 调整后的边角半径
    transform: translateX(-50%);
    transform-origin: top left;
    background-color: $success;

    &::before {
      content: "";
      position: absolute;
      top: 2.25px; // 调整后的位置
      left: 1.5px; // 调整后的位置
      width: 3px; // 调整后的宽度
      height: 3px; // 调整后的高度
      border-radius: 3px; // 调整后的边角半径
      background: white;
    }

    &::after {
      content: "";
      position: absolute;
      top: 5.25px; // 调整后的位置
      left: 2.25px; // 调整后的位置
      width: 1.5px; // 调整后的宽度
      height: 30px; // 调整后的高度
      background: white;
    }
  }

  &-second {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 11.25px; // 调整后的宽度
    height: 90px; // 调整后的高度
    transform: translateX(-50%);
    transform-origin: top left;
  }
}

.pointer {
  position: relative;

  &-1 {
    position: absolute;
    top: 2.25px; // 调整后的位置
    left: 5.625px; // 调整后的位置
    width: 1.5px; // 调整后的宽度
    height: 37.5px; // 调整后的高度
    border-radius: 1.5px 1.5px 0 0; // 调整后的边角半径
    transform: translateX(-50%); //rotate(60deg);
    transform-origin: top;
    background: $info;
  }

  &-2 {
    position: absolute;
    top: 39px; // 调整后的位置
    left: 5.625px; // 调整后的位置
    width: 1.5px; // 调整后的宽度
    height: 7.5px; // 调整后的高度
    border-radius: 1.5px 1.5px 0 0; // 调整后的边角半径
    transform: translateX(-50%) rotate(-30deg);
    transform-origin: top;
    background: $info;
  }

  &-3 {
    position: absolute;
    top: 45px; // 调整后的位置
    left: 9.75px; // 调整后的位置
    width: 1.5px; // 调整后的宽度
    height: 15px; // 调整后的高度
    border-radius: 1.5px 1.5px 0 0; // 调整后的边角半径
    transform: translateX(-50%) rotate(30deg);
    transform-origin: top;
    background: $info;
  }

  &-4 {
    position: absolute;
    top: 57.75px; // 调整后的位置
    left: 2.25px; // 调整后的位置
    width: 1.5px; // 调整后的宽度
    height: 4.5px; // 调整后的高度
    border-radius: 1.5px 1.5px 0 0; // 调整后的边角半径
    transform: translateX(-50%) rotate(-45deg);
    transform-origin: top;
    background: $info;
  }

  &-5 {
    position: absolute;
    top: 60px; // 调整后的位置
    left: 5.25px; // 调整后的位置
    width: 1.5px; // 调整后的宽度
    height: 30px; // 调整后的高度
    border-radius: 1.5px 1.5px 0 0; // 调整后的边角半径
    transform: translateX(-50%);
    transform-origin: top;
    background: $info;
  }

  &-6 {
    position: absolute;
    top: 90px; // 调整后的位置
    left: 5.25px; // 调整后的位置
    width: 3.75px; // 调整后的宽度
    height: 3.75px; // 调整后的高度
    border-radius: 3.75px; // 调整后的边角半径
    border: 0.75px solid $info; // 调整后的边框
    transform: translateX(-50%);
    transform-origin: top;
    background: transparent;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 2.25px; // 调整后的宽度
      height: 2.25px; // 调整后的高度
      border-radius: 3.75px; // 调整后的边角半径
      background: $info;
    }
  }
}

.clock-scale {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.75px; // 调整后的宽度
  height: 180px; // 调整后的高度
  background-color: $primary;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 1.5px; // 调整后的宽度
    height: 1.5px; // 调整后的高度
    border-radius: 1.5px; // 调整后的边角半径
    background-color: white;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1.5px; // 调整后的宽度
    height: 1.5px; // 调整后的高度
    border-radius: 1.5px; // 调整后的边角半径
    background-color: white;
  }
}

.hour-scale {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.75px; // 调整后的宽度
  height: 180px; // 调整后的高度
  font-size: 9px; // 调整后的字体大小

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 1.5px; // 调整后的宽度
    height: 11.25px; // 调整后的高度
    transform: translateY(-50%);
    background-color: $success;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1.5px; // 调整后的宽度
    height: 11.25px; // 调整后的高度
    transform: translateY(50%);
    background-color: $success;
  }

  .inside-nums {
    position: absolute;
    top: 11.25px; // 调整后的位置
    left: -1.875px; // 调整后的位置
    color: white;

    &-opposite {
      position: absolute;
      bottom: 11.25px; // 调整后的位置
      left: -1.875px; // 调整后的位置
      color: white;
    }
  }

  .outside-nums {
    position: absolute;
    top: -23.75px; // 调整后的位置
    left: -3.15px; // 调整后的位置
    color: white;

    &-opposite {
      position: absolute;
      bottom: -23.75px; // 调整后的位置
      left: -3.15px; // 调整后的位置
      color: white;
    }
  }

  .highlight {
    span {
      color: $info; /* 這裡設置突出顯示的顏色 */
      animation: breathe 2s ease-in-out infinite;
    }
  }
}

@for $i from 1 through 36 {
  @if ($i % 5 == 0) {
    //如果在小時線和星星上就不顯示刻度
    .clock-scale:nth-child(#{$i}) {
      transform: rotate(#{$i * 6}deg);

      &::before {
        width: 0;
        height: 0;
      }

      &:after {
        width: 0;
        height: 0;
      }
    }
  } @else {
    .clock-scale:nth-child(#{$i}) {
      transform: rotate(#{$i * 6}deg); //分鐘刻度5度
    }
  }
}

@keyframes breathe {
  0%, 100% {
    font-size: 15px; // 调整后的字体大小
    opacity: 1;
  }
  50% {
    font-size: 15px; // 调整后的字体大小
    opacity: 0.5;
  }
}
